#  CALL TO ALL THE PANDAS CHAMPIONS
$$$$

$$ SCENERIO $$

`NOTE # 1`

>There is a folder `Movie Exercise` present in this repository, in which you are provided by `Movies Data`, perform below given tasks on that dataset

`Note # 2`

>There is a folder `Cluster Exercise` present in this repository, details are given below :
>>An input file is given to you as `Input.xlsx` and you have to write a script which make clusters according to their provided `Url links`

>>An output file is also given to you as `Output.xlsx`, check this file and provide output according to this file.

$$ DEADLINE $$
![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")
>Assignment To Be Submitted Till `6 Dec 2019`

$$$$

$$QUESTIONS$$

$$$$

 **1: Use Pandas to extract all the columns of the *movies_metadata.csv* file dataset**

In [2]:
import numpy as np
import pandas as pd

In [4]:
a = pd.read_csv("movies_metadata.csv" ,encoding ='latin1' ,error_bad_lines=False)

b'Skipping line 31: expected 24 fields, saw 25\n'

In [5]:
a

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0,127.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194
10,False,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,1995-11-17,107879496,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,1995-12-22,0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,1995-12-22,11348324,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423
13,False,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,1995-12-22,13681765,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72
14,False,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,1995-12-22,10017322,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137
15,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise ¬ñ Las Vegas ...,...,1995-11-22,116112375,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343
16,False,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,1995-12-13,135000000,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364
17,False,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,1995-12-09,4300000,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,1995-11-10,212385533,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128
19,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,1995-11-21,35431113,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,1995-10-20,115101622,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it¬ís nothing like show b...",Get Shorty,False,6.4,305
21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,1995-10-27,0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199
22,False,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,1995-10-06,30303072,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394
23,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,1995-10-27,0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143
24,False,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,1995-10-27,49800000,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365
25,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,1995-12-15,0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33
26,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,1995-10-20,27400000,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91
27,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,1995-09-27,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36
28,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La Cit√© des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,1995-05-16,1738611,108.0,"[{'iso_639_1': 'cn', 'name': '??? / ???'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,9909,tt0112792,en,Dangerous Minds,Former Marine Louanne Johnson lands a gig teac...,...,1995-08-11,180000000,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She broke the rules... and changed their lives.,Dangerous Minds,False,6.4,249
30,False,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",...,1995-12-29,168840000,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470
31,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",NaN,78802,tt0114952,fr,"Guillaumet, les ailes du courage",NaN,...,1996-09-18,0,50.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Wings of Courage,False,6.8,4
32,False,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,tt0112431,en,Babe,Babe is a little pig who doesn't quite know hi...,...,1995-07-18,254134910,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756
33,False,NaN,0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,47018,tt0112637,en,Carrington,The story of the relationship between painter ...,...,1995-11-08,0,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Love so Unusual it has to be True,Carrington,False,6.4,16
34,False,NaN,11000000,"[{'id': 18, 'name': 'Drama'}]",NaN,687,tt0112818,en,Dead Man Walking,A justice drama based on a true story about a ...,...,1995-12-29,39363635,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dead Man Walking,False,7.3,350
35,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '...",NaN,139405,tt0112286,en,Across the Sea of Time,"A young Russian boy, Thomas Minton, travels to...",...,1995-10-20,0,51.0,"[{'iso_639_1': 'ru', 'name': 'P??????'}, {'iso...",Released,NaN,Across the Sea of Time,False,3.5,2
36,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,33689,tt0113442,en,It Takes Two,Identical 9-year-olds from very different back...,...,1995-11-17,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two identical strangers. Two different worlds....,It Takes Two,False,6.1,149
37,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9603,tt0112697,en,Clueless,"Shallow, rich and socially successful Cher is ...",...,1995-07-19,0,97.0,"[{'iso_639_1': 'es', 'name': 'Espa√±ol'}, {'iso...",Released,Sex. Clothes. Popularity. Is there a problem h...,Clueless,False,6.9,828
38,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,34615,tt0112749,en,"Cry, the Beloved Country",A South-African preacher goes to search for hi...,...,1995-12-15,676525,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,"Cry, the Beloved Country",False,6.7,13
39,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,31174,tt0114279,en,Richard III,Shakespeare's Play transplanted into a 1930s s...,...,1995-12-29,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"I can smile, and murder while I smile",Richard III,False,6.9,50
40,False,NaN,10000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,11443,tt0112819,en,Dead Presidents,"Depicts a heist of old bills, retired from cir...",...,1995-10-06,0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In this daring heist, the only color that coun...",Dead Presidents,False,6.6,80
41,False,NaN,19000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,35196,tt0114272,en,Restoration,"An aspiring young physician, Robert Merivel fo...",...,1995-12-29,0,117.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Restoration,False,6.3,30
42,False,"{'id': 9818, 'name': 'Mortal Kombat Collection...",18000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",NaN,9312,tt0113855,en,Mortal Kombat,For nine generations an evil sorcerer has been...,...,1995-08-18,122195920,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing In This World Has Prepared You For This.,Mortal Kombat,False,5.4,452
43,False,NaN,20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,577,tt0114681,en,To Die For,Susan wants to work in television and will the...,...,1995-05-20,21284514,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All she wanted was a little attention.,To Die For,False,6.7,177
44,False,NaN,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,11861,tt0113347,en,How To Make An American Quilt,Soon-to-be-wed graduate student Finn Dodd deve...,...,1995-10-06,23574130,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's beauty in the patterns of life.,How To Make An American Quilt,False,6.5,38
45,False,NaN,33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",http://www.sevenmovie.com/,807,tt0114369,en,Se7en,Two homicide detectives are on a desperate hun...,...,1995-09-22,327311859,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven deadly sins. Seven ways to die.,Se7en,False,8.1,5915
46,False,"{'id': 136214, 'name': 'Pocahontas Collection'...",55000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,10530,tt0114148,en,Pocahontas,History comes gloriously to life in Disney's e...,...,1995-06-14,346079773,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An American legend comes to life.,Pocahontas,False,6.7,1509
47,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,8391,tt0114916,en,When Night Is Falling,"A prudish woman, working on tenure as a litera...",...,1995-05-05,0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,When Night Is Falling,False,5.9,10
48,False,NaN,6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.mgm.com/#/our-titles/2083/The-Usual...,629,tt0114814,en,The Usual Suspects,"Held in an L.A. interrogation room, Verbal Kin...",...,1995-07-19,23341568,106.0,"[{'iso_639_1': 'es', 'name': 'Espa√±ol'}, {'iso...",Released,Five Criminals. One Line Up. No Coincidence.,The Usual Suspects,False,8.1,3334

**2. Use Pandas to describe the data set of *movies_metadata.csv file* including `data types` and `memory usage`**

In [6]:
a.describe

<bound method NDFrame.describe of     adult                              belongs_to_collection    budget  \
0   False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1   False                                                NaN  65000000
2   False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3   False                                                NaN  16000000
4   False  {'id': 96871, 'name': 'Father of the Bride Col...         0
5   False                                                NaN  60000000
6   False                                                NaN  58000000
7   False                                                NaN         0
8   False                                                NaN  35000000
9   False  {'id': 645, 'name': 'James Bond Collection', '...  58000000
10  False                                                NaN  62000000
11  False                                                NaN         0
12  False  {'id': 117693, 'name': 'Balto Collection', 'po...         0
13  False                                                NaN  44000000
14  False                                                NaN  98000000
15  False                                                NaN  52000000
16  False                                                NaN  16500000
17  False                                                NaN   4000000
18  False  {'id': 3167, 'name': 'Ace Ventura Collection',...  30000000
19  False                                                NaN  60000000
20  False  {'id': 91698, 'name': 'Chili Palmer Collection...  30250000
21  False                                                NaN         0
22  False                                                NaN  50000000
23  False                                                NaN         0
24  False                                                NaN   3600000
25  False                                                NaN         0
26  False                                                NaN  12000000
27  False                                                NaN         0
28  False                                                NaN  18000000
29  False                                                NaN         0
30  False                                                NaN  29500000
31  False                                                NaN         0
32  False  {'id': 9435, 'name': 'Babe Collection', 'poste...  30000000
33  False                                                NaN         0
34  False                                                NaN  11000000
35  False                                                NaN         0
36  False                                                NaN         0
37  False                                                NaN  12000000
38  False                                                NaN         0
39  False                                                NaN         0
40  False                                                NaN  10000000
41  False                                                NaN  19000000
42  False  {'id': 9818, 'name': 'Mortal Kombat Collection...  18000000
43  False                                                NaN  20000000
44  False                                                NaN  10000000
45  False                                                NaN  33000000
46  False  {'id': 136214, 'name': 'Pocahontas Collection'...  55000000
47  False                                                NaN         0
48  False                                                NaN   6000000

                                               genres  \
0   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1   [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3   [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                      [{'id': 35, 'name': 'Comedy'}]
5   [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
6   [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
7   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9   [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
10  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11  [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
12  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
13  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
14  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
16  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
17  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
18  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
19  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
20  [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
21  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
22  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
23  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
24  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
25                      [{'id': 18, 'name': 'Drama'}]
26  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
27  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
28  [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
29  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
30  [{'id': 878, 'name': 'Science Fiction'}, {'id'...
31  [{'id': 10749, 'name': 'Romance'}, {'id': 12, ...
32  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
33  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
34                      [{'id': 18, 'name': 'Drama'}]
35  [{'id': 12, 'name': 'Adventure'}, {'id': 36, '...
36  [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
37  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
38                      [{'id': 18, 'name': 'Drama'}]
39  [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...
40  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
41  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
42  [{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...
43  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
44  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
45  [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...
46  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
47  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
48  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...

                                             homepage      id    imdb_id  \
0                http://toystory.disney.com/toy-story     862  tt0114709
1                                                 NaN    8844  tt0113497
2                                                 NaN   15602  tt0113228
3                                                 NaN   31357  tt0114885
4                                                 NaN   11862  tt0113041
5                                                 NaN     949  tt0113277
6                                                 NaN   11860  tt0114319
7                                                 NaN   45325  tt0112302
8                                                 NaN    9091  tt0114576
9        http://www.mgm.com/view/movie/757/Goldeneye/     710  tt0113189
10                                                NaN    9087  tt0112346
11                                                NaN   12110  tt0112896
12                                                NaN   21032  tt0112453
13                                                NaN   10858  tt0113987
14                                                NaN    1408  tt0112760
15                                                NaN     524  tt0112641
16                                                NaN    4584  tt0114388
17                                                NaN       5  tt0113101
18                                                NaN    9273  tt0112281
19                                                NaN   11517  tt0113845
20                                                NaN    8012  tt0113161
21                                                NaN    1710  tt0112722
22                                                NaN    9691  tt0112401
23                                                NaN   12665  tt0114168
24  http://www.mgm.com/title_title.do?title_star=L...     451  tt0113627
25                                                NaN   16420  tt0114057
26                                                NaN    9263  tt0114011
27                                                NaN   17015  tt0114117
28                                                NaN     902  tt0112682
29                                                NaN    9909  tt0112792
30                                                NaN      63  tt0114746
31                                                NaN   78802  tt0114952
32                                                NaN    9598  tt0112431
33                                                NaN   47018  tt0112637
34                                                NaN     687  tt0112818
35                                                NaN  139405  tt0112286
36                                                NaN   33689  tt0113442
37                                                NaN    9603  tt0112697
38                                                NaN   34615  tt0112749
39                                                NaN   31174  tt0114279
40                                                NaN   11443  tt0112819
41                                                NaN   35196  tt0114272
42                                                NaN    9312  tt0113855
43                                                NaN     577  tt0114681
44                                                NaN   11861  tt0113347
45                         http://www.sevenmovie.com/     807  tt0114369
46                                                NaN   10530  tt0114148
47                                                NaN    8391  tt0114916
48  http://www.mgm.com/#/our-titles/2083/The-Usual...     629  tt0114814

   original_language                    original_title  \
0                 en                         Toy Story
1                 en                           Jumanji
2                 en                  Grumpier Old Men
3                 en                 Waiting to Exhale
4                 en       Father of the Bride Part II
5                 en                              Heat
6                 en                           Sabrina
7                 en                      Tom and Huck
8                 en                      Sudden Death
9                 en                         GoldenEye
10                en            The American President
11                en       Dracula: Dead and Loving It
12                en                             Balto
13                en                             Nixon
14                en                  Cutthroat Island
15                en                            Casino
16                en             Sense and Sensibility
17                en                        Four Rooms
18                en    Ace Ventura: When Nature Calls
19                en                       Money Train
20                en                        Get Shorty
21                en                           Copycat
22                en                         Assassins
23                en                            Powder
24                en                 Leaving Las Vegas
25                en                           Othello
26                en                      Now and Then
27                en                        Persuasion
28                fr        La Cit√© des Enfants Perdus
29                en                   Dangerous Minds
30                en                    Twelve Monkeys
31                fr  Guillaumet, les ailes du courage
32                en                              Babe
33                en                        Carrington
34                en                  Dead Man Walking
35                en            Across the Sea of Time
36                en                      It Takes Two
37                en                          Clueless
38                en          Cry, the Beloved Country
39                en                       Richard III
40                en                   Dead Presidents
41                en                       Restoration
42                en                     Mortal Kombat
43                en                        To Die For
44                en     How To Make An American Quilt
45                en                             Se7en
46                en                        Pocahontas
47                en             When Night Is Falling
48                en                The Usual Suspects

                                             overview  ...  release_date  \
0   Led by Woody, Andy's toys live happily in his ...  ...    1995-10-30
1   When siblings Judy and Peter discover an encha...  ...    1995-12-15
2   A family wedding reignites the ancient feud be...  ...    1995-12-22
3   Cheated on, mistreated and stepped on, the wom...  ...    1995-12-22
4   Just when George Banks has recovered from his ...  ...    1995-02-10
5   Obsessive master thief, Neil McCauley leads a ...  ...    1995-12-15
6   An ugly duckling having undergone a remarkable...  ...    1995-12-15
7   A mischievous young boy, Tom Sawyer, witnesses...  ...    1995-12-22
8   International action superstar Jean Claude Van...  ...    1995-12-22
9   James Bond must unmask the mysterious head of ...  ...    1995-11-16
10  Widowed U.S. president Andrew Shepherd, one of...  ...    1995-11-17
11  When a lawyer shows up at the vampire's doorst...  ...    1995-12-22
12  An outcast half-wolf risks his life to prevent...  ...    1995-12-22
13  An all-star cast powers this epic look at Amer...  ...    1995-12-22
14  Morgan Adams and her slave, William Shaw, are ...  ...    1995-12-22
15  The life of the gambling paradise ¬ñ Las Vegas ...  ...    1995-11-22
16  Rich Mr. Dashwood dies, leaving his second wif...  ...    1995-12-13
17  It's Ted the Bellhop's first night on the job....  ...    1995-12-09
18  Summoned from an ashram in Tibet, Ace finds hi...  ...    1995-11-10
19  A vengeful New York transit cop decides to ste...  ...    1995-11-21
20  Chili Palmer is a Miami mobster who gets sent ...  ...    1995-10-20
21  An agoraphobic psychologist and a female detec...  ...    1995-10-27
22  Assassin Robert Rath arrives at a funeral to k...  ...    1995-10-06
23  Harassed by classmates who won't accept his sh...  ...    1995-10-27
24  Ben Sanderson, an alcoholic Hollywood screenwr...  ...    1995-10-27
25  The evil Iago pretends to be friend of Othello...  ...    1995-12-15
26  Waxing nostalgic about the bittersweet passage...  ...    1995-10-20
27  This film adaptation of Jane Austen's last nov...  ...    1995-09-27
28  A scientist in a surrealist society kidnaps ch...  ...    1995-05-16
29  Former Marine Louanne Johnson lands a gig teac...  ...    1995-08-11
30  In the year 2035, convict James Cole reluctant...  ...    1995-12-29
31                                                NaN  ...    1996-09-18
32  Babe is a little pig who doesn't quite know hi...  ...    1995-07-18
33  The story of the relationship between painter ...  ...    1995-11-08
34  A justice drama based on a true story about a ...  ...    1995-12-29
35  A young Russian boy, Thomas Minton, travels to...  ...    1995-10-20
36  Identical 9-year-olds from very different back...  ...    1995-11-17
37  Shallow, rich and socially successful Cher is ...  ...    1995-07-19
38  A South-African preacher goes to search for hi...  ...    1995-12-15
39  Shakespeare's Play transplanted into a 1930s s...  ...    1995-12-29
40  Depicts a heist of old bills, retired from cir...  ...    1995-10-06
41  An aspiring young physician, Robert Merivel fo...  ...    1995-12-29
42  For nine generations an evil sorcerer has been...  ...    1995-08-18
43  Susan wants to work in television and will the...  ...    1995-05-20
44  Soon-to-be-wed graduate student Finn Dodd deve...  ...    1995-10-06
45  Two homicide detectives are on a desperate hun...  ...    1995-09-22
46  History comes gloriously to life in Disney's e...  ...    1995-06-14
47  A prudish woman, working on tenure as a litera...  ...    1995-05-05
48  Held in an L.A. interrogation room, Verbal Kin...  ...    1995-07-19

      revenue runtime                                   spoken_languages  \
0   373554033    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1   262797249   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2           0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3    81452156   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4    76578911   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
5   187436818   170.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
6           0   127.0  [{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...
7           0    97.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
8    64350171   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
9   352194034   130.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
10  107879496   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
11          0    88.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
12   11348324    78.0           [{'iso_639_1': 'en', 'name': 'English'}]
13   13681765   192.0           [{'iso_639_1': 'en', 'name': 'English'}]
14   10017322   119.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
15  116112375   178.0           [{'iso_639_1': 'en', 'name': 'English'}]
16  135000000   136.0           [{'iso_639_1': 'en', 'name': 'English'}]
17    4300000    98.0           [{'iso_639_1': 'en', 'name': 'English'}]
18  212385533    90.0           [{'iso_639_1': 'en', 'name': 'English'}]
19   35431113   103.0           [{'iso_639_1': 'en', 'name': 'English'}]
20  115101622   105.0           [{'iso_639_1': 'en', 'name': 'English'}]
21          0   124.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
22   30303072   132.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
23          0   111.0           [{'iso_639_1': 'en', 'name': 'English'}]
24   49800000   112.0           [{'iso_639_1': 'en', 'name': 'English'}]
25          0   123.0           [{'iso_639_1': 'en', 'name': 'English'}]
26   27400000   100.0           [{'iso_639_1': 'en', 'name': 'English'}]
27          0   104.0           [{'iso_639_1': 'en', 'name': 'English'}]
28    1738611   108.0  [{'iso_639_1': 'cn', 'name': '??? / ???'}, {'i...
29  180000000    99.0           [{'iso_639_1': 'en', 'name': 'English'}]
30  168840000   129.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
31          0    50.0           [{'iso_639_1': 'en', 'name': 'English'}]
32  254134910    89.0           [{'iso_639_1': 'en', 'name': 'English'}]
33          0   121.0           [{'iso_639_1': 'en', 'name': 'English'}]
34   39363635   122.0           [{'iso_639_1': 'en', 'name': 'English'}]
35          0    51.0  [{'iso_639_1': 'ru', 'name': 'P??????'}, {'iso...
36          0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
37          0    97.0  [{'iso_639_1': 'es', 'name': 'Espa√±ol'}, {'iso...
38     676525   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
39          0   104.0           [{'iso_639_1': 'en', 'name': 'English'}]
40          0   119.0           [{'iso_639_1': 'en', 'name': 'English'}]
41          0   117.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
42  122195920   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
43   21284514   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
44   23574130   116.0           [{'iso_639_1': 'en', 'name': 'English'}]
45  327311859   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
46  346079773    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
47          0    96.0           [{'iso_639_1': 'en', 'name': 'English'}]

In [13]:
a.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.900000e+01,49.000000,49.000000,4.900000e+01,49.000000,49.000000,49.000000
mean,2.154796e+07,15842.816327,8.932256,7.705440e+07,110.081633,6.551020,704.326531
std,2.433495e+07,23561.689658,4.967530,1.091120e+08,25.476163,0.824905,1262.325242
min,0.000000e+00,5.000000,0.114469,0.000000e+00,50.000000,3.500000,2.000000
25%,0.000000e+00,1408.000000,5.231580,0.000000e+00,99.000000,6.100000,72.000000
50%,1.200000e+07,9603.000000,9.481338,2.334157e+07,106.000000,6.500000,199.000000
75%,3.300000e+07,15602.000000,11.712900,1.161124e+08,122.000000,7.100000,539.000000
max,9.800000e+07,139405.000000,21.946943,3.735540e+08,192.000000,8.100000,5915.000000

In [12]:
a.info

<bound method DataFrame.info of     adult                              belongs_to_collection    budget  \
0   False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1   False                                                NaN  65000000
2   False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3   False                                                NaN  16000000
4   False  {'id': 96871, 'name': 'Father of the Bride Col...         0
5   False                                                NaN  60000000
6   False                                                NaN  58000000
7   False                                                NaN         0
8   False                                                NaN  35000000
9   False  {'id': 645, 'name': 'James Bond Collection', '...  58000000
10  False                                                NaN  62000000
11  False                                                NaN         0
12  False  {'id': 117693, 'name': 'Balto Collection', 'po...         0
13  False                                                NaN  44000000
14  False                                                NaN  98000000
15  False                                                NaN  52000000
16  False                                                NaN  16500000
17  False                                                NaN   4000000
18  False  {'id': 3167, 'name': 'Ace Ventura Collection',...  30000000
19  False                                                NaN  60000000
20  False  {'id': 91698, 'name': 'Chili Palmer Collection...  30250000
21  False                                                NaN         0
22  False                                                NaN  50000000
23  False                                                NaN         0
24  False                                                NaN   3600000
25  False                                                NaN         0
26  False                                                NaN  12000000
27  False                                                NaN         0
28  False                                                NaN  18000000
29  False                                                NaN         0
30  False                                                NaN  29500000
31  False                                                NaN         0
32  False  {'id': 9435, 'name': 'Babe Collection', 'poste...  30000000
33  False                                                NaN         0
34  False                                                NaN  11000000
35  False                                                NaN         0
36  False                                                NaN         0
37  False                                                NaN  12000000
38  False                                                NaN         0
39  False                                                NaN         0
40  False                                                NaN  10000000
41  False                                                NaN  19000000
42  False  {'id': 9818, 'name': 'Mortal Kombat Collection...  18000000
43  False                                                NaN  20000000
44  False                                                NaN  10000000
45  False                                                NaN  33000000
46  False  {'id': 136214, 'name': 'Pocahontas Collection'...  55000000
47  False                                                NaN         0
48  False                                                NaN   6000000

                                               genres  \
0   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1   [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3   [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                      [{'id': 35, 'name': 'Comedy'}]
5   [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
6   [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
7   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9   [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
10  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11  [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
12  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
13  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
14  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
16  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
17  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
18  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
19  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
20  [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
21  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
22  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
23  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
24  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
25                      [{'id': 18, 'name': 'Drama'}]
26  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
27  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
28  [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
29  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
30  [{'id': 878, 'name': 'Science Fiction'}, {'id'...
31  [{'id': 10749, 'name': 'Romance'}, {'id': 12, ...
32  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
33  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
34                      [{'id': 18, 'name': 'Drama'}]
35  [{'id': 12, 'name': 'Adventure'}, {'id': 36, '...
36  [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
37  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
38                      [{'id': 18, 'name': 'Drama'}]
39  [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...
40  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
41  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
42  [{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...
43  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
44  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
45  [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...
46  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
47  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
48  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...

                                             homepage      id    imdb_id  \
0                http://toystory.disney.com/toy-story     862  tt0114709
1                                                 NaN    8844  tt0113497
2                                                 NaN   15602  tt0113228
3                                                 NaN   31357  tt0114885
4                                                 NaN   11862  tt0113041
5                                                 NaN     949  tt0113277
6                                                 NaN   11860  tt0114319
7                                                 NaN   45325  tt0112302
8                                                 NaN    9091  tt0114576
9        http://www.mgm.com/view/movie/757/Goldeneye/     710  tt0113189
10                                                NaN    9087  tt0112346
11                                                NaN   12110  tt0112896
12                                                NaN   21032  tt0112453
13                                                NaN   10858  tt0113987
14                                                NaN    1408  tt0112760
15                                                NaN     524  tt0112641
16                                                NaN    4584  tt0114388
17                                                NaN       5  tt0113101
18                                                NaN    9273  tt0112281
19                                                NaN   11517  tt0113845
20                                                NaN    8012  tt0113161
21                                                NaN    1710  tt0112722
22                                                NaN    9691  tt0112401
23                                                NaN   12665  tt0114168
24  http://www.mgm.com/title_title.do?title_star=L...     451  tt0113627
25                                                NaN   16420  tt0114057
26                                                NaN    9263  tt0114011
27                                                NaN   17015  tt0114117
28                                                NaN     902  tt0112682
29                                                NaN    9909  tt0112792
30                                                NaN      63  tt0114746
31                                                NaN   78802  tt0114952
32                                                NaN    9598  tt0112431
33                                                NaN   47018  tt0112637
34                                                NaN     687  tt0112818
35                                                NaN  139405  tt0112286
36                                                NaN   33689  tt0113442
37                                                NaN    9603  tt0112697
38                                                NaN   34615  tt0112749
39                                                NaN   31174  tt0114279
40                                                NaN   11443  tt0112819
41                                                NaN   35196  tt0114272
42                                                NaN    9312  tt0113855
43                                                NaN     577  tt0114681
44                                                NaN   11861  tt0113347
45                         http://www.sevenmovie.com/     807  tt0114369
46                                                NaN   10530  tt0114148
47                                                NaN    8391  tt0114916
48  http://www.mgm.com/#/our-titles/2083/The-Usual...     629  tt0114814

   original_language                    original_title  \
0                 en                         Toy Story
1                 en                           Jumanji
2                 en                  Grumpier Old Men
3                 en                 Waiting to Exhale
4                 en       Father of the Bride Part II
5                 en                              Heat
6                 en                           Sabrina
7                 en                      Tom and Huck
8                 en                      Sudden Death
9                 en                         GoldenEye
10                en            The American President
11                en       Dracula: Dead and Loving It
12                en                             Balto
13                en                             Nixon
14                en                  Cutthroat Island
15                en                            Casino
16                en             Sense and Sensibility
17                en                        Four Rooms
18                en    Ace Ventura: When Nature Calls
19                en                       Money Train
20                en                        Get Shorty
21                en                           Copycat
22                en                         Assassins
23                en                            Powder
24                en                 Leaving Las Vegas
25                en                           Othello
26                en                      Now and Then
27                en                        Persuasion
28                fr        La Cit√© des Enfants Perdus
29                en                   Dangerous Minds
30                en                    Twelve Monkeys
31                fr  Guillaumet, les ailes du courage
32                en                              Babe
33                en                        Carrington
34                en                  Dead Man Walking
35                en            Across the Sea of Time
36                en                      It Takes Two
37                en                          Clueless
38                en          Cry, the Beloved Country
39                en                       Richard III
40                en                   Dead Presidents
41                en                       Restoration
42                en                     Mortal Kombat
43                en                        To Die For
44                en     How To Make An American Quilt
45                en                             Se7en
46                en                        Pocahontas
47                en             When Night Is Falling
48                en                The Usual Suspects

                                             overview  ...  release_date  \
0   Led by Woody, Andy's toys live happily in his ...  ...    1995-10-30
1   When siblings Judy and Peter discover an encha...  ...    1995-12-15
2   A family wedding reignites the ancient feud be...  ...    1995-12-22
3   Cheated on, mistreated and stepped on, the wom...  ...    1995-12-22
4   Just when George Banks has recovered from his ...  ...    1995-02-10
5   Obsessive master thief, Neil McCauley leads a ...  ...    1995-12-15
6   An ugly duckling having undergone a remarkable...  ...    1995-12-15
7   A mischievous young boy, Tom Sawyer, witnesses...  ...    1995-12-22
8   International action superstar Jean Claude Van...  ...    1995-12-22
9   James Bond must unmask the mysterious head of ...  ...    1995-11-16
10  Widowed U.S. president Andrew Shepherd, one of...  ...    1995-11-17
11  When a lawyer shows up at the vampire's doorst...  ...    1995-12-22
12  An outcast half-wolf risks his life to prevent...  ...    1995-12-22
13  An all-star cast powers this epic look at Amer...  ...    1995-12-22
14  Morgan Adams and her slave, William Shaw, are ...  ...    1995-12-22
15  The life of the gambling paradise ¬ñ Las Vegas ...  ...    1995-11-22
16  Rich Mr. Dashwood dies, leaving his second wif...  ...    1995-12-13
17  It's Ted the Bellhop's first night on the job....  ...    1995-12-09
18  Summoned from an ashram in Tibet, Ace finds hi...  ...    1995-11-10
19  A vengeful New York transit cop decides to ste...  ...    1995-11-21
20  Chili Palmer is a Miami mobster who gets sent ...  ...    1995-10-20
21  An agoraphobic psychologist and a female detec...  ...    1995-10-27
22  Assassin Robert Rath arrives at a funeral to k...  ...    1995-10-06
23  Harassed by classmates who won't accept his sh...  ...    1995-10-27
24  Ben Sanderson, an alcoholic Hollywood screenwr...  ...    1995-10-27
25  The evil Iago pretends to be friend of Othello...  ...    1995-12-15
26  Waxing nostalgic about the bittersweet passage...  ...    1995-10-20
27  This film adaptation of Jane Austen's last nov...  ...    1995-09-27
28  A scientist in a surrealist society kidnaps ch...  ...    1995-05-16
29  Former Marine Louanne Johnson lands a gig teac...  ...    1995-08-11
30  In the year 2035, convict James Cole reluctant...  ...    1995-12-29
31                                                NaN  ...    1996-09-18
32  Babe is a little pig who doesn't quite know hi...  ...    1995-07-18
33  The story of the relationship between painter ...  ...    1995-11-08
34  A justice drama based on a true story about a ...  ...    1995-12-29
35  A young Russian boy, Thomas Minton, travels to...  ...    1995-10-20
36  Identical 9-year-olds from very different back...  ...    1995-11-17
37  Shallow, rich and socially successful Cher is ...  ...    1995-07-19
38  A South-African preacher goes to search for hi...  ...    1995-12-15
39  Shakespeare's Play transplanted into a 1930s s...  ...    1995-12-29
40  Depicts a heist of old bills, retired from cir...  ...    1995-10-06
41  An aspiring young physician, Robert Merivel fo...  ...    1995-12-29
42  For nine generations an evil sorcerer has been...  ...    1995-08-18
43  Susan wants to work in television and will the...  ...    1995-05-20
44  Soon-to-be-wed graduate student Finn Dodd deve...  ...    1995-10-06
45  Two homicide detectives are on a desperate hun...  ...    1995-09-22
46  History comes gloriously to life in Disney's e...  ...    1995-06-14
47  A prudish woman, working on tenure as a litera...  ...    1995-05-05
48  Held in an L.A. interrogation room, Verbal Kin...  ...    1995-07-19

      revenue runtime                                   spoken_languages  \
0   373554033    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1   262797249   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2           0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3    81452156   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4    76578911   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
5   187436818   170.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
6           0   127.0  [{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...
7           0    97.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
8    64350171   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
9   352194034   130.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
10  107879496   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
11          0    88.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
12   11348324    78.0           [{'iso_639_1': 'en', 'name': 'English'}]
13   13681765   192.0           [{'iso_639_1': 'en', 'name': 'English'}]
14   10017322   119.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
15  116112375   178.0           [{'iso_639_1': 'en', 'name': 'English'}]
16  135000000   136.0           [{'iso_639_1': 'en', 'name': 'English'}]
17    4300000    98.0           [{'iso_639_1': 'en', 'name': 'English'}]
18  212385533    90.0           [{'iso_639_1': 'en', 'name': 'English'}]
19   35431113   103.0           [{'iso_639_1': 'en', 'name': 'English'}]
20  115101622   105.0           [{'iso_639_1': 'en', 'name': 'English'}]
21          0   124.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
22   30303072   132.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
23          0   111.0           [{'iso_639_1': 'en', 'name': 'English'}]
24   49800000   112.0           [{'iso_639_1': 'en', 'name': 'English'}]
25          0   123.0           [{'iso_639_1': 'en', 'name': 'English'}]
26   27400000   100.0           [{'iso_639_1': 'en', 'name': 'English'}]
27          0   104.0           [{'iso_639_1': 'en', 'name': 'English'}]
28    1738611   108.0  [{'iso_639_1': 'cn', 'name': '??? / ???'}, {'i...
29  180000000    99.0           [{'iso_639_1': 'en', 'name': 'English'}]
30  168840000   129.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
31          0    50.0           [{'iso_639_1': 'en', 'name': 'English'}]
32  254134910    89.0           [{'iso_639_1': 'en', 'name': 'English'}]
33          0   121.0           [{'iso_639_1': 'en', 'name': 'English'}]
34   39363635   122.0           [{'iso_639_1': 'en', 'name': 'English'}]
35          0    51.0  [{'iso_639_1': 'ru', 'name': 'P??????'}, {'iso...
36          0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
37          0    97.0  [{'iso_639_1': 'es', 'name': 'Espa√±ol'}, {'iso...
38     676525   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
39          0   104.0           [{'iso_639_1': 'en', 'name': 'English'}]
40          0   119.0           [{'iso_639_1': 'en', 'name': 'English'}]
41          0   117.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
42  122195920   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
43   21284514   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
44   23574130   116.0           [{'iso_639_1': 'en', 'name': 'English'}]
45  327311859   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
46  346079773    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
47          0    96.0           [{'iso_639_1': 'en', 'name': 'English'}]

In [16]:
type(a)

pandas.core.frame.DataFrame

**3. Write a Pandas program to get the details of the thrid movie of the DataFrame (movies_metadata.csv file).**

In [19]:
a.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

**4. Write a Pandas program to count the number of rows and columns of the DataFrame (movies_metadata.csv file).**

**5. Write a Pandas program to get the details of the columns title and genres of the DataFrame.
**

**6. Write a Pandas program to get the details of the movie with title 'Grumpier Old Men'.**

**7. Write a Pandas program to get the details of  fifth movie of the DataFrame.**

**8. Write a Pandas program to create a smaller dataframe with a subset of all features.**

**9. Write a Pandas program to display the first 10 rows of the DataFrame.**

**10. Write a Pandas program to sort the DataFrame based on release_date.**

**11. Write a Pandas program to access those movies, released after 1995-01-01.**

**12. Write a Pandas program to sort movies on runtime in descending order.**

**13. Write a Pandas program to get those movies whose revenue more than 2 million and spent less than 1 million.
**

**14. Write a Pandas program to get the longest runtime and shortest runtime.**

**15. Write a Pandas program to compute the calculate the number of votes garnered by the 70% movie.
**

**16. Write a Pandas program to display the movies (title, runtime) longer than 30 minutes and shorter than 360 minutes.
**

**17. Write a Pandas program to display the movies (title, number of votes) that received specified number of votes**

** 18. Use Pandas to extract all the columns of the *Input.xlsx* file dataset**

** 19. Create a function to create clusters according to the URLs as shown in Output.xlsx file**

**20. Create a function to add a column for URL counts as shown in Output.xlsx file (you simply need to calculate the total count of each URL)**

**21. Create a function to add a column for Average Number Of Positions Of URLs as shown in Output.xlsx file (you simply need to calculate the average occurance of each URL)**