In [1]:
import numpy as np

In [2]:
import pandas as pd

# 13-10-2019

In [3]:
pop =  {'Nevada': {2001: 2.4, 2002: 2.9},
        'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [4]:
pop

{'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [5]:
 frame3 = pd.DataFrame(pop)

In [6]:
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [7]:
 frame3.index.name = 'year'; frame3.columns.name = 'state'

In [8]:
frame3

state  Nevada  Ohio
year
2000      NaN   1.5
2001      2.4   1.7
2002      2.9   3.6

In [9]:
frame3.values

array([[nan, 1.5],
       [2.4, 1.7],
       [2.9, 3.6]])

# Index Object

In [10]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
obj

a    0
b    1
c    2
dtype: int64

In [11]:
 index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [12]:
 index[1:]

Index(['b', 'c'], dtype='object')

# Essential Functionality

# re indexing series

In [13]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [14]:
 obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [15]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [18]:
obj4 = obj3.reindex(range(6), method='ffill') #forward fill
obj4

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [19]:
obj4 = obj3.reindex(range(6), method='bfill') #backword fill

In [20]:
obj4

0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

# re indexing frame

In [21]:
 frame = pd.DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'c', 'd'], columns=['Ohio', 'Texas', 'California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [22]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [23]:
states = ['Texas', 'Utah', 'California']
states

['Texas', 'Utah', 'California']

In [24]:
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

# Row and Column Indexing

In [30]:
newframe = frame2.reindex(index = ["a","b","c","d"],(columns=['Texas', 'Utah', 'California','NewYork'])

SyntaxError: invalid syntax (<ipython-input-30-534f42fe9217>, line 1)

# Dropping Entries from an Axis

In [31]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [32]:
obj.drop("c")

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [33]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [35]:
obj.drop("c",inplace=True)

In [36]:
obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [37]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'], columns=['one', 'two', 'three', 'four'])

In [38]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [39]:
data.drop(['Colorado', 'Ohio'])

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [40]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [41]:
data.drop("two",axis=1) #droping column

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [43]:
df = pd.read_csv("plgSSN.csv")

In [44]:
df

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

In [45]:
df.shape

(48, 14)

In [46]:
df.columns

Index(['Student Code', 'Degree', 'Student Name', 'Mid', 'Quiz 1', 'Quiz 2',
       'Best of Quizzes', 'Assignment 1', 'Assignment 2',
       'Best of Assignments', 'Total Sessional (50)', 'Final (50)',
       'Total (100)', 'Grade'],
      dtype='object')

In [47]:
df["Mid"]

0     28
1     17
2     18
3     14
4     27
5     25
6     28
7     26
8     19
9     28
10    30
11    28
12    23
13    24
14    21
15    18
16    23
17    20
18    16
19    27
20    24
21    20
22    20
23    26
24    28
25    26
26    27
27    27
28    22
29    17
30    23
31    27
32     9
33    20
34    25
35    20
36    25
37    27
38     9
39    28
40    27
41    20
42    28
43    28
44    25
45    27
46    25
47    11
Name: Mid, dtype: int64

In [48]:
df["Mid"]>20

0      True
1     False
2     False
3     False
4      True
5      True
6      True
7      True
8     False
9      True
10     True
11     True
12     True
13     True
14     True
15    False
16     True
17    False
18    False
19     True
20     True
21    False
22    False
23     True
24     True
25     True
26     True
27     True
28     True
29    False
30     True
31     True
32    False
33    False
34     True
35    False
36     True
37     True
38    False
39     True
40     True
41    False
42     True
43     True
44     True
45     True
46     True
47    False
Name: Mid, dtype: bool

In [51]:
df[df["Mid"]>20]

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C

In [52]:
df

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

In [55]:
df.columns

Index(['Student Code', 'Degree', 'Student Name', 'Mid', 'Quiz 1', 'Quiz 2',
       'Best of Quizzes', 'Assignment 1', 'Assignment 2',
       'Best of Assignments', 'Total Sessional (50)', 'Final (50)',
       'Total (100)', 'Grade'],
      dtype='object')

In [66]:
df[(df['Mid']>20) & (df['Best of Quizzes']>7) & (df['Best of Assignments']>7)]

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C

In [68]:
df.count()

Student Code            48
Degree                  48
Student Name            48
Mid                     48
Quiz 1                  45
Quiz 2                  45
Best of Quizzes         48
Assignment 1            45
Assignment 2            36
Best of Assignments     48
Total Sessional (50)    48
Final (50)              47
Total (100)             48
Grade                   48
dtype: int64

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 14 columns):
Student Code            48 non-null object
Degree                  48 non-null object
Student Name            48 non-null object
Mid                     48 non-null int64
Quiz 1                  45 non-null float64
Quiz 2                  45 non-null float64
Best of Quizzes         48 non-null int64
Assignment 1            45 non-null float64
Assignment 2            36 non-null float64
Best of Assignments     48 non-null int64
Total Sessional (50)    48 non-null int64
Final (50)              47 non-null float64
Total (100)             48 non-null int64
Grade                   48 non-null object
dtypes: float64(5), int64(5), object(4)
memory usage: 5.3+ KB

In [71]:
df

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

In [77]:
df1=df.copy()
df1

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

In [81]:
#df1["Quiz 1"].fillna(df1["Quiz 1"].mean().inplace=True)

In [82]:
df.mean()

Mid                     22.937500
Quiz 1                   7.288889
Quiz 2                   4.866667
Best of Quizzes          7.020833
Assignment 1             7.755556
Assignment 2             9.444444
Best of Assignments      8.937500
Total Sessional (50)    38.895833
Final (50)              27.851064
Total (100)             66.166667
dtype: float64

In [92]:
df1[df1.columns].fillna(df1[df1.columns].mean())

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.000000,3.000000,8,7.000000,9.000000,9,45,25.000000,70,B
1,022-14-110233,BS(CS),Adeel Ahmed,17,7.288889,5.000000,5,8.000000,10.000000,10,32,18.000000,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.000000,2.000000,5,8.000000,10.000000,10,33,30.000000,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.000000,2.000000,7,7.755556,2.000000,2,23,23.000000,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.000000,6.000000,7,7.000000,9.000000,9,43,34.000000,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.000000,6.000000,9,8.000000,10.000000,10,44,27.000000,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.000000,6.000000,6,8.000000,10.000000,10,44,30.000000,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.000000,6.000000,9,8.000000,10.000000,10,45,40.000000,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9.000000,4.000000,9,7.000000,9.000000,9,37,24.000000,61,C
9,022-14-110599,BS(CS),Arsalan,28,8.000000,6.000000,8,8.000000,9.444444,8,44,40.000000,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.000000,7.000000,8,8.000000,9.444444,8,46,45.000000,91,A
11,022-14-110591,BS(CS),Habib Ullah,28,8.000000,5.000000,8,5.000000,9.444444,5,41,35.000000,76,B
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.000000,5.000000,7,8.000000,10.000000,10,40,33.000000,73,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.000000,4.000000,8,8.000000,10.000000,10,42,25.000000,67,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7.000000,4.000000,7,6.000000,8.000000,8,36,29.000000,65,C
15,022-14-19916,BS(CS),Haseeb Sajid,18,7.288889,4.866667,0,7.755556,9.444444,0,18,27.851064,18,F
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.000000,5.000000,5,7.000000,9.000000,9,37,35.000000,72,B
17,022-14-110396,BS(CS),Khalid Anwer,20,8.000000,5.000000,8,9.000000,11.000000,11,39,31.000000,70,B
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.000000,2.000000,5,8.000000,10.000000,10,31,29.000000,60,C
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.000000,6.000000,9,8.000000,10.000000,10,46,45.000000,91,A
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.000000,6.000000,7,7.000000,9.000000,9,40,31.000000,71,B
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.000000,6.000000,9,9.000000,11.000000,11,40,20.000000,60,C
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.000000,6.000000,7,7.000000,9.444444,7,34,23.000000,57,F
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.000000,4.866667,5,8.000000,10.000000,10,41,21.000000,62,C
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.000000,4.000000,5,9.000000,11.000000,11,44,33.000000,77,B
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.000000,6.000000,9,8.000000,10.000000,10,45,41.000000,86,A
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.000000,4.866667,6,6.000000,8.000000,8,41,24.000000,65,C
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.000000,6.000000,8,8.000000,10.000000,10,45,26.000000,71,B
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.000000,6.000000,6,9.000000,11.000000,11,39,18.000000,57,F
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.000000,1.000000,7,6.000000,9.444444,6,30,9.000000,39,F
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.000000,6.000000,8,9.000000,9.444444,9,40,32.000000,72,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.000000,5.000000,7,10.000000,9.444444,10,44,29.000000,73,B
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,7.288889,2.000000,2,8.000000,10.000000,10,21,8.000000,29,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.000000,2.000000,4,8.000000,10.000000,10,34,17.000000,51,F
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.000000,6.000000,9,8.000000,10.000000,10,44,42.000000,86,A
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.000000,5.000000,8,7.755556,10.000000,10,38,28.000000,66,C
36,022-14-110582,BS(CS),Rida Nasim,25,9.000000,5.000000,9,9.000000,9.444444,9,43,27.000000,70,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.000000,5.000000,9,9.000000,9.444444,9,45,30.000000,75,B
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.000000,6.000000,6,5.000000,7.000000,7,22,17.000000,39,F
39,022-14-110107,BS(CS),Sania Iqbal,28,4.000000,4.000000,4,9.000000,11.000000,11,43,25.000000,68,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9.000000,6.000000,9,8.000000,10.000000,10,46,35.000000,81,A
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.000000,6.000000,7,8.000000,10.000000,10,37,20.000000,57,F
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.000000,6.000000,6,8.000000,10.000000,10,44,23.000000,67,C
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.000000,4.000000,9,6.000000,8.000000,8,45,34.000000,79,B
44,022-14-110589,BS(CS),Syed Sohaib,25,7.000000,5.000000,7,9.000000,9.444444,9,41,22.000000,63,C
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.000000,6.000000,9,9.000000,9.444444,9,45,35.000000,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8.000000,5.000000,8,8.000000,10.000000,10,43,22.000000,65,C
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.000000,5.000000,9,5.000000,7.000000,7,27,19.000000,46,F

In [93]:
df1.fillna(df1.mean())

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.000000,3.000000,8,7.000000,9.000000,9,45,25.000000,70,B
1,022-14-110233,BS(CS),Adeel Ahmed,17,7.288889,5.000000,5,8.000000,10.000000,10,32,18.000000,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.000000,2.000000,5,8.000000,10.000000,10,33,30.000000,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.000000,2.000000,7,7.755556,2.000000,2,23,23.000000,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.000000,6.000000,7,7.000000,9.000000,9,43,34.000000,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.000000,6.000000,9,8.000000,10.000000,10,44,27.000000,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.000000,6.000000,6,8.000000,10.000000,10,44,30.000000,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.000000,6.000000,9,8.000000,10.000000,10,45,40.000000,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9.000000,4.000000,9,7.000000,9.000000,9,37,24.000000,61,C
9,022-14-110599,BS(CS),Arsalan,28,8.000000,6.000000,8,8.000000,9.444444,8,44,40.000000,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.000000,7.000000,8,8.000000,9.444444,8,46,45.000000,91,A
11,022-14-110591,BS(CS),Habib Ullah,28,8.000000,5.000000,8,5.000000,9.444444,5,41,35.000000,76,B
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.000000,5.000000,7,8.000000,10.000000,10,40,33.000000,73,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.000000,4.000000,8,8.000000,10.000000,10,42,25.000000,67,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7.000000,4.000000,7,6.000000,8.000000,8,36,29.000000,65,C
15,022-14-19916,BS(CS),Haseeb Sajid,18,7.288889,4.866667,0,7.755556,9.444444,0,18,27.851064,18,F
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.000000,5.000000,5,7.000000,9.000000,9,37,35.000000,72,B
17,022-14-110396,BS(CS),Khalid Anwer,20,8.000000,5.000000,8,9.000000,11.000000,11,39,31.000000,70,B
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.000000,2.000000,5,8.000000,10.000000,10,31,29.000000,60,C
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.000000,6.000000,9,8.000000,10.000000,10,46,45.000000,91,A
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.000000,6.000000,7,7.000000,9.000000,9,40,31.000000,71,B
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.000000,6.000000,9,9.000000,11.000000,11,40,20.000000,60,C
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.000000,6.000000,7,7.000000,9.444444,7,34,23.000000,57,F
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.000000,4.866667,5,8.000000,10.000000,10,41,21.000000,62,C
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.000000,4.000000,5,9.000000,11.000000,11,44,33.000000,77,B
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.000000,6.000000,9,8.000000,10.000000,10,45,41.000000,86,A
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.000000,4.866667,6,6.000000,8.000000,8,41,24.000000,65,C
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.000000,6.000000,8,8.000000,10.000000,10,45,26.000000,71,B
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.000000,6.000000,6,9.000000,11.000000,11,39,18.000000,57,F
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.000000,1.000000,7,6.000000,9.444444,6,30,9.000000,39,F
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.000000,6.000000,8,9.000000,9.444444,9,40,32.000000,72,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.000000,5.000000,7,10.000000,9.444444,10,44,29.000000,73,B
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,7.288889,2.000000,2,8.000000,10.000000,10,21,8.000000,29,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.000000,2.000000,4,8.000000,10.000000,10,34,17.000000,51,F
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.000000,6.000000,9,8.000000,10.000000,10,44,42.000000,86,A
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.000000,5.000000,8,7.755556,10.000000,10,38,28.000000,66,C
36,022-14-110582,BS(CS),Rida Nasim,25,9.000000,5.000000,9,9.000000,9.444444,9,43,27.000000,70,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.000000,5.000000,9,9.000000,9.444444,9,45,30.000000,75,B
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.000000,6.000000,6,5.000000,7.000000,7,22,17.000000,39,F
39,022-14-110107,BS(CS),Sania Iqbal,28,4.000000,4.000000,4,9.000000,11.000000,11,43,25.000000,68,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9.000000,6.000000,9,8.000000,10.000000,10,46,35.000000,81,A
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.000000,6.000000,7,8.000000,10.000000,10,37,20.000000,57,F
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.000000,6.000000,6,8.000000,10.000000,10,44,23.000000,67,C
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.000000,4.000000,9,6.000000,8.000000,8,45,34.000000,79,B
44,022-14-110589,BS(CS),Syed Sohaib,25,7.000000,5.000000,7,9.000000,9.444444,9,41,22.000000,63,C
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.000000,6.000000,9,9.000000,9.444444,9,45,35.000000,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8.000000,5.000000,8,8.000000,10.000000,10,43,22.000000,65,C
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.000000,5.000000,9,5.000000,7.000000,7,27,19.000000,46,F

In [94]:
df.head()

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B

In [101]:
df1[df1["Student Name"].str.startswith("A")]

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),A,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A